@media (max-width:1250px){
    .homepage__top-grid{
        width: 100%;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "category cards"
            "offers offers"
            "brands brands";
        gap:30px;
    }

    .category{
        min-height: 100%;
        grid-row: span 2;
    }
    .category__item{
        font-size: 14px;
    }
    .homepage__cards{
        grid-template-columns: unset;
        grid-template-areas:
        "profile"
        "cards";
        margin: unset;
        align-items: stretch;
        align-content: space-between;
    }
    .homepage__card-container_wide{
        grid-area: profile;
    }
    .homepage__card-container{
        grid-area: cards;
    }
    .homepage__card-background{
        width: 110px;
        height: 110px;
    }
    .card{
        height: 200px;
    }
    .card__text{
        font-size: 18px;
    }
    .homepage__offers{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        gap: 25px;
        margin: unset;
    }
    .brands{
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-evenly;
    }
    .brand-card__link{
        width: 75px;
        height: 33px;
    }
    .brand-card__img{
        max-width: 63px;
        max-height: 33px;
    }
}

@media(max-width:992px){
    .menu__link{
        font-size: 15px;
    }
   
    .homepage__top-grid{
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "category cards"
            "offers offers"
            "brands brands";
    }
    .category__item{
        font-size: 13px;
    }
    .homepage__card-container{
        grid-template-columns: 1fr 1fr;
    }
    .brands{
        
    }
    .homepage__card-background{
        width: 90px;
        height: 90px;
    }
    .card{
        height: 140px;
    }
    .card__text{
        font-size: 14px;
    }
    .wide-card{
        height: 120px;
    }
    .card__text{
        max-width: 250px;
    }
    .homepage__offers{
        
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
@media(max-width:760px){
    
    .menu{
        display: none;
    }
    .homepage__top-grid{
        grid-template-areas:
            "cards cards"
            "offers offers"
            "brands brands";
    }
    .homepage__category{
        display: none;
    }
}
@media(max-width:450px){
    #profile-card-background{
        width: 140px;
        height: 90px;
    }
}