@media (max-width:1250px){
    .homepage__top-grid{
        width: 100%;
        grid-template-columns: 1fr 3fr;
    }

    .category{
        min-height: 100%;
        grid-row: span 2;
    }
    .category__item{
        font-size: 14px;
    }
    .homepage__cards{
        /* grid-template-rows: repeat(auto-fill, 1fr); */
        grid-template-columns: unset;
        grid-template-areas:
        "profile"
        "cards";
    }
    .homepage__card-container_wide{
        grid-area: profile;
    }
    .homepage__card-container{
        grid-area: cards;
    }
    .card{
        height: 145px;
    }
    .homepage__offers{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 25px;
    }
    .brands{
        flex-wrap: wrap;
    }
    .brand-card__link{
        width: 75px;
        height: 33px;
    }
    .brand-card__img{
        max-width: 63px;
        max-height: 33px;
    }
}

@media(max-width:992px){
    .menu__link{
        font-size: 15px;
    }
    .homepage__top-grid{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "category content";
    }
    .category__item{
        font-size: 13px;
    }
    .homepage__card-container{
        grid-template-columns: 1fr 1fr;
    }
    .brands{
        display: none;
    }
    .wide-card{
        height: 120px;
    }
    .card__text{
        max-width: 250px;
    }
    /* .offer:nth-child(2n+1) .offer__body{
        flex-direction: row-reverse;
    }
    
    .offer:nth-child(2n+1) .offer__title{
        text-align: end;
    } */
    
}