:root{
   --main-dark:#161616;
   --main-light:#e9d1ba;

   /* Размеры шрифтов */
   --small:8px;
   --medium:20px;
   --large:32px;
   /* --------------- */
   /* Border-radius */
   --radius:10px;
   /* ------------ */
}
*{
   font-family: 'Rubik', sans-serif;
}
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
.header {
   width: 100%;
   background-color: var(--main-dark);
}
.header *{
   color: var(--main-light);
}
.header__row{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 80px;
}
.container {
   max-width: 1400px;
   margin: 0 auto;
   padding: 0 30px;
}
.logo {
   height: 100%; 
}
.logo__img{
   height: 100%;
}
.menu {
   font-size: var(--medium);
}
.menu__list {
}
.menu__link {
}
.sub-menu__list {
}
.sub-menu__link {
}
.profile {
}
.main {
   flex: 1 1 auto;
}
.homepage {
   padding: 30px 0;
}
.homepage__container {
   display: grid;
   grid-template-columns: 1fr 4fr;
   min-height: 565px;
}
.homepage__content {
   padding: 0 32px;
}
.homepage__cards {
}
.homepage__brands {
}
.brands {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.brand-card__link {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 150px;
   height: 55px;
   box-shadow: 0px 0px 15px black;
   margin: 0 15px;
   border-radius: var(--radius);
}
.brand-card__img {
   max-width: 95px;
    max-height: 30px;
}
.homepage__category {
}
.category {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: var(--radius);
   box-shadow: 0px 0px 15px black;
}
.category__title {
   font-size: var(--large);
   margin: 0 0 16px 0;
}
.category__body {
   
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.category__item {
   font-size: var(--medium);
   cursor: pointer;
}
.footer {
   width: 100%;
   background-color: var(--main-dark);
}
.footer__row{
   height: 80px;
}